body {
    background-color: #f9f9f9;
}

.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
}

.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    background: #aed4ec; /* 淡蓝色背景 */
}

.front-header-left {
    width: 300px;
    display: flex;
    line-height: 20px;
    align-items: center;
    padding-left: 30px;
}

.front-header-left img, .front-header-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.front-header-left .title {
    flex: 1;
    color: #145c89;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.subtitle {
    color: #145c89;
    margin-top: 3px;
    margin-left: 15px;
    font-size: 10px;
}

.front-header-center {
    flex: 1;
}

.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}

.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 调整为靠右对齐 */
}

.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

.el-menu {
    background-color: #aed4ec; /* 淡蓝色背景 */
}

/* 页面具体样式自定义 */
.main-content {
    width: 60%;
    margin: 10px auto;
}

/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}

.el-menu-item {
    background-color: #aed4ec; /* 淡蓝色背景 */
    color: #333 !important;
}

.el-menu-item.is-active {
    background-color: #779fb8 !important;
    border-color: #5396c0 !important;
    color: #fff !important;
}

.el-menu-item:hover {
    background-color: #96cbec !important;
    color: #fff !important;
}

.router-link-active {
    color: #666;
    text-decoration: none;
}
.front-notice-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px; /* 与公告字体大小一致 */
    white-space: nowrap; /* 防止公告内容换行 */
    padding: 10px 0; /* 添加一些内边距 */
}

.front-notice {
    flex-grow: 1;
    text-align: left;
}

.date-time {
    flex-shrink: 0;
    text-align: center;
    width: 300px; /* 固定时间控件的宽度 */
}